/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

i {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Header ******/
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
    padding: 30px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 68px;
}

nav li {
    margin-top: 18px;
}

nav a {
    padding-top: 16px;
}

nav a:hover {
    color: var(--main-color);
    box-shadow: 0 -2px  var(--main-color);
}

/******* Recherche and Filtres ******/
.search-and-filters {
    margin-top: 35px;
}

/****** Recherche *****/
.search-form {
    margin-top: 35px;
}

form {
    display: flex;
}

form i {
    color: black;
    background: var(--main-bg-color);
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

input, button {
    font-weight: bold;
    font-size: 16px;
}

input {
    text-align: center;
    border: 1px solid var(--main-bg-color);
    border-right: none;
}

.btn-search {
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    background: var(--main-color);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-search i {
    display: none;
}

/***** Filtres ******/
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 35px;
    align-items:center;
}

.filters-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn-filter {
    border: 2px solid #D9D9D9;
    border-radius: 30px;
}

.btn-filter a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.btn-filter:hover {
    background: var(--filter-bg-color);
}

.btn-filter h4 {
    margin: 0;
    padding-left: 10px;
    color: black;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.fa-info {
    display: flex;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.info-text {
    margin: 0 0 0 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cards .card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    width: 240px;
}

.hebergements-cards img {
    width: 100%;
    height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-title {
    margin: 5px 0 0 5px;
}

.hebergements-cards .card-subtitle {
    margin: 5px 0 0 5px;
}

.hebergements-cards .card-rating {
    margin: 5px 0 5px 5px;
}

.see-more {
    margin: 30px 0 0 0;
}

.see-more a:hover {
    color: #0065FC;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activités *********/
.activites {
    margin-top: 35px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}

.activites .card {
    padding: 0;
    width: 23%;
}

.activites .card img {
    height: 375px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activites .card-title {
    margin: 0;
    padding: 20px;
}

/***** Footer *****/
footer {
    display: flex;
    margin-top: 35px;
    background: var(--main-bg-color);
}

.footer-section {
    width: 100%;
    padding: 30px;
}

.footer-title {
    margin: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

footer li {
    padding: 10px 0;
}

footer a:hover {
    color: var(--main-color);
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters-title {
        width: 100%;
    }

    .btn-filter a {
        padding: 15px 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 250px;
    }

    .hebergements-cards img {
        height: 100px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .card img {
        height: 200px;
    }
    
    footer {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    /***** Header *****/
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding: 0;
        gap: 0;
    }

    nav li {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    nav a {
        padding: 0 0 16px 0;
        width: 100%;
        text-align: center;
    }

    nav a:hover {
        box-shadow: 0 2px  var(--main-color);
    }

    /****** Recherche ******/
    .search-and-filters {
        padding: 0 20px;
    }

    input {
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

    .btn-search {
        position: relative;
        right: 10px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px darkgrey;
        padding: 10px 14px;
    }

    .btn-search span {
        display: none;
    }

    .btn-search i {
        display: inline;
        color: white;
        padding: 0;
        background: none;
    }

    .filters {
        gap: 0;
        margin-top: 15px;
    }

    .filters-selection {
        gap: 15px;
    }
    
    .btn-filter {
        width: 45%;
    }

    .btn-filter a {
        padding: 15px 13px;
    }

    .btn-filter h4{
        font-size: 0.8em;
        padding-left: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section:first-child {
    background-color: white;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px 20px;
    }

    .hebergements {
        width: 98%;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards img {
        height: 150px;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites {
        padding: 0 20px;
    }

    .activites-cards {
        margin-top: 0;
    }

    .activites .card {
        width: 100%;
        margin-top: 33px;
    }

    .activites .card img {
        height: 180px;
    }

    footer {
        flex-wrap: wrap;
    }
}